# Allow looking at files higher up in the directory tree
root = false

# Set default editor config for all files:
# - use utf-8 as default
# - 2 spaces, no trailing whitespaces
# - final newline for slightly cleaner diffs when changing the last line
[*]
charset = utf-8
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

# Override trailing whitespace setting for Markdown
[*.{md}]
trim_trailing_whitespace = false

# Override finalnewline setting for JSON files
[*.{json}]
insert_final_newline = false
