.*
.env
!/.github
!/.vscode*
!/.editorconfig
!/.gitattributes
!/.gitignore
!/.pre-commit-config.yaml

# Build artifacts
dist/

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Python artifacts
__pycache__/
*.pyc

# Sphinx documentation
docs/_build/
