.*
.env
.pypirc
!/.github
!/.vscode*
!/.clang-format
!/.editorconfig
!/.env-example
!/.gitattributes
!/.gitignore
!/.pre-commit-config.yaml
!/**/.pylintrc

# Build artifacts
ci/tools/poetry/staging/ocebuild
ci/tools/pyinstaller/build
build/
dist/

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Python artifacts
__pycache__/
*.pyc

# Sphinx documentation
docs/_build/
